﻿
@model KPMGTest.Models.UploadViewModel
@{
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 45%; color: White;">
            Loading, please wait...
        </p>
    </div>
    ViewBag.Title = "Import";
}

<h2>Import Page</h2>

@using (Html.BeginForm("Index", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
    @Html.ValidationSummary(true)
    <div>Please choose a Excel File to upload:</div>
    <div>@Html.TextBoxFor(m => m.File, new { type = "file" })</div>
    <div>@Html.ValidationMessageFor(m => m.File)</div>
  
        <div >Is the first row as column name:
        @Html.CheckBoxFor(m => m.IsFirstRowAsColumnName, new { @checked = "checked" })</div>
   
    <div>
        <input id="fileuploadbutton" type="submit" value="Submit" class="btn btn-primary"/></div>
    </div>
}



@section scripts {
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#fileuploadbutton").click(function (e) {

                $("#divLoading").show();

            });
        });

</script>
}


